@import "variables";
@import "mixins";

.wrapper {
  padding: 1rem;
}

.founds {
  &-title {
    color: $savey-grey;
  }
  .amount {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.banner {
  @include space-between;
}

.banner {
  align-items: stretch;
}

.banner-info {
  @include flex-column;
  justify-content: space-between;
}

.banner-title {
  margin: 0;
  font-size: 2rem;
  color: $color-brand;
  font-weight: bold;
}

.ads {
  display: flex;
}
.advertisment {
  width: 50%;
  display: block;
  padding: 0 1rem;
}
