@import "variables";
@import "mixins";

.wrapper {
  padding: 1rem;
}

.founds {
  &-title {
    color: $savey-grey;
  }
  .amount {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.banner {
  @include space-between;
}

.banner {
  align-items: stretch;
}

.banner-info {
  @include flex-column;
  justify-content: space-between;
}

.banner-title {
  margin: 0;
  font-size: 2rem;
  color: $color-brand;
  font-weight: bold;
}

.last-operations {
  margin-bottom: 3rem;
  .header {
    display: flex;
    align-items: baseline;
    h1 {
      margin-right: 1rem;
    }
  }
}

.desktop-payment {
  padding: 0 1rem;
  @include space-between;
  border-bottom: 1px solid $savey-grey;
  &:last-of-type {
    border-bottom: none;
  }
  &:nth-child(even) {
    background: $savey-grey-light;
  }
  span {
    width: 80px;
    padding: 1rem 0;
  }
  span:first-of-type {
    width: 180px;
  }
}

.ads {
  display: flex;
}
.advertisment {
  width: 50%;
  display: block;
  padding: 0 1rem;
}
