@import "variables";
@import "mixins";

.wrapper {
  height: $footer-height;
  background: $color-brand;
  color: white;
}

.footer-item {
  @include flex-center;
  padding: 1rem;
  border-top: 1px solid $color-brand-dark;
}
