@import "variables";
@import "mixins";

.wrapper {
  z-index: $z-navbar;
  position: fixed;
  top: 0;
  width: 100%;
}

.basic-wrapper {
  @include flex-center;
  background: $color-brand;
  height: $navbar-height;
  color: white;
  position: relative;
  z-index: 10;
}

.basic {
  @include space-between;
  width: 100%;
}

.desktop-features {
  @include flex-center;
  position: fixed;
  top: 50px;
  margin: 0 auto;
  width: 100%;
  height: $navbar-height;
  color: black;
  background: white;
  li {
    padding: 1rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.padding {
  height: $navbar-height;
}

.logo {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.nav-icon,
.desktop-buttons li {
  cursor: pointer;
  padding: 1rem;
  color: white;
  &:focus {
    outline: none;
  }
}

@media screen and (min-width: $screen-l) {
  .padding {
    height: $navbar-desktop-height;
  }
  .basic,
  .desktop-features-wrapper {
    width: $screen-l;
  }
  .basic {
    padding: 0 1rem;
  }
}
@media screen and (min-width: $screen-xl) {
  .basic,
  .desktop-features-wrapper {
    width: $screen-xl;
  }
}
