@import "variables";
@import "mixins";

.wrapper {
  @include space-between;
  background: $color-brand;
  position: fixed;
  height: $navbar-height;
  top: 0;
  width: 100%;
  z-index: $z-navbar;
}

.padding {
  height: $navbar-height;
}

.logo {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.nav-icon {
  cursor: pointer;
  padding: 1rem;
  color: white;
  &:focus {
    outline: none;
  }
}
