<form [formGroup]="profileForm" (ngSubmit)="signUp()">
  <div class="input-wrap">
    <span class="input-name" [class.active]="firstnameActive || firstname.valid"
      >First name</span
    >
    <input
      type="text"
      class="input-value"
      formControlName="firstname"
      (focus)="firstnameActive = true"
      (blur)="firstnameActive = false"
    />
  </div>
  <span
    class="warning-no-border validation-error"
    *ngIf="!firstname.valid && firstname.touched"
    >First name is required field</span
  >

  <div class="input-wrap">
    <span class="input-name" [class.active]="lastnameActive || lastname.valid"
      >Last name</span
    >
    <input
      type="text"
      class="input-value"
      formControlName="lastname"
      (focus)="lastnameActive = true"
      (blur)="lastnameActive = false"
    />
  </div>
  <span
    class="warning-no-border validation-error"
    *ngIf="!lastname.valid && lastname.touched"
    >Last name is required field</span
  >
  <div class="input-wrap">
    <span class="input-name" [class.active]="emailActive || email.value"
      >Email</span
    >
    <input
      type="email"
      class="input-value"
      formControlName="email"
      (focus)="emailActive = true"
      (blur)="emailActive = false"
      email
    />
  </div>
  <span
    class="warning-no-border validation-error"
    *ngIf="!email.valid && email.touched"
    >Please provide correct email address</span
  >

  <div class="input-wrap">
    <span class="input-name" [class.active]="passwordActive || password.valid"
      >Password</span
    >
    <input
      type="password"
      class="input-value"
      formControlName="password"
      (focus)="passwordActive = true"
      (blur)="passwordActive = false"
    />
  </div>
  <span
    class="warning-no-border validation-error"
    *ngIf="!password.valid && password.touched"
    >Password is required field</span
  >
  <div class="form-actions">
    <button class="button" type="button" [routerLink]="['/login']">
      I have an account
    </button>
    <button
      type="submit"
      class="button btn-brand"
      [disabled]="!profileForm.valid"
      [class.disabled]="!profileForm.valid"
    >
      Sign Up
    </button>
  </div>
</form>
