@import "variables";

.wrapper {
  padding: 1rem;
}

@media screen and (min-width: $screen-m) {
  .wrapper {
    padding: 3rem 1rem 1rem;
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-l) {
  .wrapper {
    width: 50%;
    margin: 0 auto;
  }
}
