<div class="wrapper">
  <ng-container [ngTemplateOutlet]="mobile"></ng-container>
  <ng-container [ngTemplateOutlet]="desktop"></ng-container>
</div>

<ng-template #mobile>
  <div class="card d-mobile">
    <div class="card-header">Your transactions</div>
    <ul class="payment-list" *ngIf="payments">
      <li class="payment" *ngFor="let payment of payments">
        <div class="payment-header">
          <span class="date">{{ payment.date | date: "d.LL.y" }}</span>
          <span class="balance">{{ payment.balance | currency: "GBP" }}</span>
        </div>
        <div class="payment-body">
          <span class="recipient">{{ payment.recipient }}</span
          ><span class="amount">{{ payment.amount | currency: "GBP" }}</span>
        </div>
      </li>
      <li class="payment">
        <button class="button btn-brand w-100">
          Load more transactions
        </button>
      </li>
    </ul>
    <div *ngIf="errorMessage" class="card-body">
      <div class="warnings">{{ errorMessage }}</div>
    </div>
  </div>
</ng-template>

<ng-template #desktop>
  <div class="d-desktop">
    <app-account-info></app-account-info>
    <h1>Transactions</h1>
    <div class="filters">
      <!-- <div class="filter-wrap">
        <button class="filter date-btn">
          {{ "Ostatni tydzień" }}
          <fa-icon [icon]="chevronDown" class="filter-icon"></fa-icon>
        </button>
        <ng-container [ngTemplateOutlet]="timePeriod"></ng-container>
      </div> -->
      <div class="filter-wrap">
        <span>From date</span>
        <input
          (click)="selectDateFrom()"
          type="text"
          class="filter date date-from"
          readonly
          [ngModel]="dateFrom | date: 'd.LL.y'"
        />
        <fa-icon [icon]="calendar" class="filter-icon calendar"></fa-icon>
        <ng-container
          [ngTemplateOutlet]="dateInput"
          *ngIf="showDateFrom"
        ></ng-container>
      </div>
      <div class="filter-wrap">
        <span>To date</span>
        <input
          type="text"
          class="filter date date-to"
          readonly
          (click)="selectDateTo()"
          [ngModel]="dateTo | date: 'd.LL.y'"
        />
        <fa-icon [icon]="calendar" class="filter-icon calendar"></fa-icon>
        <ng-container
          [ngTemplateOutlet]="dateInput"
          *ngIf="showDateTo"
        ></ng-container>
      </div>
    </div>

    <div *ngIf="selectDateError" class="warning-no-border text-right">
      {{ selectDateError }}
    </div>

    <ul class="desktop-payment-list" *ngIf="payments?.length">
      <li class="desktop-payment">
        <span class="date">Date</span>
        <span class="recipient">Recipient</span>
        <span class="amount">Amount</span>
        <span class="balance">Balance</span>
      </li>
      <li
        class="desktop-payment"
        *ngFor="let payment of payments"
        [class.shine]="!payment.amount"
      >
        <span class="date">{{ payment.date | date: "d.LL.y" }}</span>
        <span class="recipient">{{ payment.recipient }}</span>
        <span class="amount">{{ payment.amount | currency: "GBP" }}</span>
        <span class="balance">{{ payment.balance | currency: "GBP" }}</span>
      </li>
    </ul>

    <button class="button btn-brand align-center">
      Load more transactions
    </button>
  </div>
</ng-template>

<!-- <ng-template #timePeriod>
  <div class="popover">
    <app-select></app-select>
  </div>
</ng-template> -->

<ng-template #dateInput>
  <div class="popover">
    <app-calendar
      (date)="onSelectDate($event)"
      (close)="onClose($event)"
      [startDate]="startDate"
    ></app-calendar>
  </div>
</ng-template>
