@import "variables";

.wrapper {
  padding: 1rem;
}

@media screen and (min-width: $screen-m) {
  .wrapper {
    display: flex;
    .signup-wrap,
    .advertisment {
      width: 50%;
      padding: 0 2rem;
    }
  }
}
