@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "variables";
@import "mixins";

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  transition: 200ms ease-in;
  &:focus {
    outline: none;
    color: $color-brand;
  }
  &:active {
    color: $color-brand;
  }
  &.btn-brand {
    border: 1px solid black;
    background: $color-brand;
    color: white;
    &:active {
      color: white;
      background: $color-brand-dark;
    }
    &:focus {
      color: white;
      background: $color-brand-dark;
    }
    &.disabled {
      border: 1px solid $color-brand-dark;
      background: $color-brand-light;
    }
  }
}
.text-right {
  text-align: right;
}

.warning {
  color: red;
  padding: 8px;
  border: 1px solid red;
}

.warning-no-border {
  color: red;
  padding: 8px 0;
}

.card {
  border: 1px solid $color-brand-dark;
  border-radius: 5px;
  &-header {
    padding: 1rem;
    background: $color-brand-light;
    color: white;
    text-transform: uppercase;
  }
  &-body {
    padding: 1rem;
  }
  &-item {
    padding: 0 1rem;
  }
}

.w-100 {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.payment-header,
.payment-body {
  @include space-between;
}

.payment {
  padding: 1rem;
  text-transform: uppercase;
  color: $savey-grey;
  border-top: 1px solid $color-brand-dark;

  .amount {
    color: black;
    font-weight: bold;
  }
  .recipient {
    color: $color-brand;
  }
}

.modal-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: $backdrop-white;
}

.container {
  margin: 0 auto;
}

.d-mobile {
  display: block !important;
}
.d-mobile-flex {
  display: flex !important;
}
.d-mobile-inline {
  display: inline !important;
}
.d-desktop {
  display: none !important;
}
.d-desktop-flex {
  display: none !important;
}
.d-desktop-inline {
  display: inline !important;
}

.shadow {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

/* Shine */
.shine:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 220px;
  position: absolute;
  z-index: 1;
  animation: slideShine 1s infinite;

  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.8)),
    color-stop(99%, rgba(128, 186, 232, 0)),
    color-stop(100%, rgba(125, 185, 232, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slideShine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.nav-narrow {
  height: 50px;
}
.nav-thick {
  height: 50px;
}

.transparent-text {
  color: transparent;
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: $screen-s) {
  .container {
    width: $screen-s;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: $screen-m) {
  .container {
    width: $screen-m;
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: $screen-l) {
  .container {
    width: $screen-l;
  }

  .nav-thick {
    height: 100px;
  }

  .d-mobile {
    display: none;
  }
  .d-mobile-flex {
    display: none;
  }
  .d-mobile-inline {
    display: none;
  }
  .d-desktop {
    display: block;
  }
  .d-desktop-flex {
    display: flex;
  }
  .d-desktop-inline {
    display: inline;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: $screen-xl) {
  .container {
    width: $screen-xl;
  }
}
