@import "variables";

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin input-text {
  padding: 0.8rem;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid black;
  &:focus {
    outline: none;
  }
}

// @mixin list-item {
//   padding: 1rem;
//   text-transform: uppercase;
//   color: $savey-grey;
//   border-top: 1px solid $color-brand-darker;

//   .amount {
//     color: black;
//     font-weight: bold;
//   }
//   .recipient {
//     color: $color-brand;
//   }
// }
