// colors

$color-brand-lighter: #00e6a8;
$color-brand-light: #009970;
$color-brand: #006a4d;
$color-brand-dark: #004d38;
$savey-grey: rgba(0, 0, 0, 0.45);

//dims
$navbar-height: 50px;
$footer-height: 208px;
