@import "variables";

.advertisment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  img {
    padding: 2rem;
    width: 50%;
    max-width: 220px;
  }
  p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: $screen-s) {
  .advertisment {
    img {
      padding: 1rem;
    }
  }
}
